{% extends 'participation/base.html' %}

{% block title %}Participation Opportunities{% endblock %}

{% block content %}
    <h2 class="mb-3 text-center">Current Opportunities</h2>
    <ul class="list-group">
        {% for opportunity in opportunities %}
            <li class="list-group-item">
                <h5>
                    <a href="{% url 'opportunity_detail' opportunity.pk %}">
                        {{ opportunity.title }}
                    </a>
                </h5>
                <p>{{ opportunity.summary|truncatewords:25 }}</p>
            </li>
        {% empty %}
            <li class="list-group-item text-center">No opportunities available right now.</li>
        {% endfor %}
    </ul>
{% endblock %}

