{% extends 'participation/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
    <h5 class="mb-4">Select tags you are interested in, and we'll email you when new participation opportunities that fall under the tags are made available. </h5>
    <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% for message in messages %}
  <p>{{ message }}</p>
{% endfor %}
{% endblock %}